@charset "utf-8";
/* CSS Document */

#wrap{width:100%; overflow:hidden;}

/* visual */
#visual{width:1000px; height:300px; position:relative; left:50%; margin-left:-500px;}



/* contents */

#contents{margin:50px auto; width:1000px; height:720px;}
    #contents h2{margin-left:25px; font-size:28px;}
#contents .cont1{margin:33px 0 0 25px; width:145px; height:43px;}
        #contents .cont1 p:first-child{float:left;}
        #contents .cont1 p:last-child{float:right;}

#contents .cont2_box{margin:21px 0 0 0; width:1000px; height:270px; border-top:1px solid #000;}
    #contents .cont2_box .cont2_inner{margin-top:28px;}
    #contents .cont2_box .cont2_inner1{float:left; width:269px; height:52px; margin-left:25px; position:relative;}
        #contents .cont2_box .cont2_img1{float:left; margin-right:13px;}
        #contents .cont2_box .cont2_inner1 p{font-size:18px;}
        #contents .cont2_box .cont2_inner1 span{font-size:16px; font-weight:bold;}
        #contents .cont2_box .cont2_inner1 .cont2_img2{width:49px; height:48px; position:absolute; top:11px; right:-10px;}

.city{border:none; font-size:16px;}
.takedate{width:200px; /*font-size:18px;*/ color:#757575;}

#contents .cont2_box .cont2_inner2{float:left; width:269px; height:52px; margin-left:10px; position:relative;}
    #contents .cont2_box .cont2_img3{float:left; margin-right:13px;}
    #contents .cont2_box .cont2_inner2 p{font-size:18px;}
        #contents .cont2_box .cont2_inner2 span{font-size:16px; font-weight:bold;}
         #contents .cont2_box .cont2_inner2 .cont2_img4{width:49px; height:48px; position:absolute; top:11px; right:-10px;}


    #contents .cont2_box .cont2_inner3{float:right; width:390px; height:52px; margin-right:14px; position:relative;}
        #contents .cont2_box .cont2_img5{float:left; margin-right:13px;}
        #contents .cont2_box .cont2_inner3 p{font-size:18px;}
        #contents .cont2_box .cont2_inner3 span{font-size:16px; font-weight:bold;}
        #contents .cont2_box .cont2_inner3 .cont2_img6{width:49px; height:48px; position:absolute; top:11px; right:-10px;}




    #contents .cont2_box .cont2_inner4{margin:106px 0 0 25px; width:440px; height:62px;}
        #contents .cont2_box .cont2_img7{float:left; margin:7px 13px 0 0 ;}
    .cont_inner4_box1{width:108px; height:62px; float:left; margin-right:20px; position: relative;}
        #contents .cont2_box .cont_inner4_box1 p.adult{margin:15px 0 3px; font-size:16px; font-weight:bold;}

.cont_inner4_box1 .c1{width: 100px; padding:3px 0px; box-sizing: border-box; border:1px solid gray; text-align: right; margin-top:0px; border-radius: 10px;}
.cont_inner4_box1 .c2{text-align: center;width:50px; margin-left: 25px; font-size: 16px; line-height: 15px}
    .cont_inner4_box1 .minus{position: absolute; top:42px; left: 3px; }
    .cont_inner4_box1 .plus{position: absolute; top:46px; left: 84px;}
        
    .cont_inner4_box2{width:108px; height:62px; float:left; margin-right:20px; position: relative;}
        #contents .cont2_box .cont_inner4_box2 >p:first-child{color:#8d8080; font-size:12px; font-weight:bold;}    
        #contents .cont2_box .cont_inner4_box2 >p:nth-child(2){font-size:16px; font-weight:bold; margin-bottom:1px;}

.cont_inner4_box2 .c1{width: 100px; padding:3px 0px; box-sizing: border-box; border:1px solid gray; text-align: right; margin-top:0px; border-radius: 10px;}
.cont_inner4_box2 .c2{text-align: center;width:50px; margin-left: 25px; font-size: 16px; line-height: 15px;}
    .cont_inner4_box2 .minus{position: absolute; top:42px; left: 3px; }
    .cont_inner4_box2 .plus{position: absolute; top:46px; left: 84px;}

    .cont_inner4_box3{width:108px; height:62px; float:left; position: relative;}
        #contents .cont2_box .cont_inner4_box3 >p:first-child{color:#8d8080; font-size:12px; font-weight:bold;}    
        #contents .cont2_box .cont_inner4_box3 >p:nth-child(2){font-size:16px; font-weight:bold; margin-bottom:1px;}

    .cont_inner4_box3 .c1{width: 100px; padding:3px 0px; box-sizing: border-box; border:1px solid gray; text-align: right; margin-top:0px; border-radius: 10px;}
    .cont_inner4_box3 .c2{text-align: center;width:50px; margin-left: 25px; font-size: 16px; line-height: 15px}
    .cont_inner4_box3 .minus{position: absolute; top:42px; left: 3px; }
    .cont_inner4_box3 .plus{position: absolute; top:46px; left: 84px;}

.search{width:150px; height:45px; color:#fff; margin:45px auto 409px; background:#f15a22; text-align:center; line-height:45px; font-size:18px; font-weight:bold;}


.btnSearchAirline{width:150px; height:45px; color:#fff; background:#f15a22; padding:10px; font-size:18px; margin:70px 0 0 440px; border:1px solid #f15a22; cursor: pointer; border-radius:5px;}


/* cont7 */

#contents7{margin:200px auto 0; width:1000px; height:164px; position:relative; border-top:1px solid #000;}
 
     #contents7 .cont7_box1{position:absolute; width:360px; height:99px; top:32px; left:30px;}
        #contents7 .cont7_box1 p:first-child{font-size:20px; font-weight:bold;}
        #contents7 .cont7_box1 p:nth-child(2){color:#f2693d; font-size:36px;}
        #contents7 .cont7_box1 p:last-child{font-size:14px;}
    #contents7 .cont7_box2{position:absolute; width:471px; height:62px; top:32px; right:55px;}
        #contents7 .cont7_box2 p{font-size:20px; font-weight:bold; margin-bottom:18px;}
        #contents7 .cont7_box2 li{float:left; font-size:15px; margin-right:11px; font-weight:bold; line-height:1.7}
        #contents7 .cont7_box2 img{margin-right:5px;}
#contents7 a{color:black;}   
              
        