@charset "utf-8";
/* CSS Document */

#wrap{width:100%; overflow:hidden;}

/* visual */
#visual{width:1000px; height:300px; position:relative; left:50%; margin-left:-500px;}

/* contents */
#contents{margin:0px auto; width:1000px; overflow:hidden;}
#contents .event_txt1{margin:30px 0 9px 20px; font:bold 28px "맑은 고딕";}
#contents .cont1{width:1000px; height:1400px; border-top:2px solid #777;}

.cont1 .cont_inner{width:728px; height:105px; border:1px solid #bbb; margin:41px auto;}
.cont1 .cont_inner img{float:left;}
.cont1 .cont_inner .cont_txt{font:bold 16px "맑은 고딕"; color:black; margin:20px 0 0 383px; line-height:2}
.cont1 .cont_inner span{font-weight: normal;}


.cont1_inner4 p{margin-top:15px;}
.cont4_txt{font:bold 16px "맑은 고딕"; color:black; margin:20px 0 0 383px; }
.cont1_inner4 span{margin-top:10px; display: block; }

.cont1_inner5 p{margin-top:15px;}
.cont5_txt{font:bold 16px "맑은 고딕"; color:black; margin:20px 0 0 383px; }
.cont1_inner5 span{margin-top:10px; display: block; }

.cont1_inner8 p{margin-top:15px;}
.cont8_txt{font:bold 16px "맑은 고딕"; color:black; margin:20px 0 0 383px; }
.cont1_inner8 span{margin-top:10px; display: block;}

.cont_inner a:hover{text-decoration: underline; color:#000;}


/* cont7 */

#contents7{margin:-100px auto 0; width:1000px; height:164px; position:relative; border-top:1px solid #000;}
 
     #contents7 .cont7_box1{position:absolute; width:360px; height:99px; top:32px; left:30px;}
        #contents7 .cont7_box1 p:first-child{font-size:20px; font-weight:bold;}
        #contents7 .cont7_box1 p:nth-child(2){color:#f2693d; font-size:36px;}
        #contents7 .cont7_box1 p:last-child{font-size:14px;}
    #contents7 .cont7_box2{position:absolute; width:471px; height:62px; top:32px; right:55px;}
        #contents7 .cont7_box2 p{font-size:20px; font-weight:bold; margin-bottom:18px;}
        #contents7 .cont7_box2 li{float:left; font-size:15px; margin-right:11px; font-weight:bold; line-height:1.7}
        #contents7 .cont7_box2 img{margin-right:5px;}
#contents7 a{color:black;} 