@charset "utf-8";
/* CSS Document */

#wrap{width:100%; overflow:hidden;}


/* visual
#visual{width:1920px; height:450px; position:relative;left:50%; margin-left:-960px;}
.best_bg4 {width: 1920px; height: 450px; position: relative;}
.best_bg4 .prev_btn4 {position: absolute; top: 185px; left: 200px;}
.best_bg4 .next_btn4 {position: absolute; top: 185px; right: 200px;}
.prev_btn4 img{height: 80px;}
.next_btn4 img{height: 80px;} */

/* visual slide*/

.jssorb05 {
            position: absolute;
        }

        .jssorb05 div,
        .jssorb05 div:hover,
        .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../images/b052.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

        .jssorb05 div:hover,
        .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn,
        .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }

        .jssora22l,
        .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 50px;
            height: 68px;
            cursor: pointer;
            background: url('../images/a22.png') center center no-repeat;
            overflow: hidden;
            
        }

        .jssora22l {
            background-position: -10px -31px;
        }

        .jssora22r {
            background-position: -70px -31px;
        }

        .jssora22l:hover {
            background-position: -130px -31px;
        }

        .jssora22r:hover {
            background-position: -190px -31px;
        }

        .jssora22l.jssora22ldn {
            background-position: -250px -31px;
        }

        .jssora22r.jssora22rdn {
            background-position: -310px -31px;
        }

        .jssora22l.jssora22lds {
            background-position: -10px -31px;
            opacity: .3;
            pointer-events: none;
        }

        .jssora22r.jssora22rds {
            background-position: -70px -31px;
            opacity: .3;
            pointer-events: none;
        }


/* contents */
#contents{width:100%; overflow:hidden;}
#contents1{margin:35px auto; width:1000px; height:100px; background:url(../images/cloud1.jpg) fixed no-repeat center; position:relative;}
#contents1 img{position:absolute; left:176px; bottom:0;}
#contents1 p{font-size:14px; float:left; margin:30px 0 0 370px; font-weight:bold;}
#contents1 span{font-size:25px; color:#0245b8;}


#contents2 .cont2_inner{margin:0 auto; width:1000px; height:209px;}
    #contents2 .ticket{float:left; width:490px; height:209px; background:#777; position:relative;}
        #contents2 .ticket p{position:absolute; top:76px; left:12px; font-size:16px; color:#fff;}
        #contents2 .ticket span{font-size:28px;}
        #contents2 .ticket a{color:#fff;}
        #contents2 .ticket a:hover{text-decoration:underline;}

    #contents2 .partership{float:right; width:490px; height:209px; background:#666; position:relative}
        #contents2 .partership p{position:absolute; top:76px; left:12px; font-size:16px; color:#fff;}
        #contents2 .partership span{font-size:28px;}
        #contents2 .partership a{color:#fff;}
        #contents2 .partership a:hover{text-decoration:underline;}

#contents3{margin:52px auto; width:1000px; height:293px; background:#f5f7fa; position:relative;}
    #contents3 h2{font-size:30px; text-align:center; padding-top:15px;}
    #contents3 span{color:#f58220;}
#contents3 img{position:absolute; font-size:18px; font-weight:bold;}
#contents3 img:hover{}
#contents3 .cont3_img1{top:106px; left:80px;}
#contents3 .cont3_txt{font-weight:bold; font-size:18px; position:absolute;}
#contents3 a{color:black;}
#contents3 a:hover{text-decoration:underline;}

        #contents3 .cont3_img2{top:106px; left:289px;}
        #contents3 .cont3_img3{top:108px; left:439px;}
        #contents3 .cont3_img4{top:104px; right:277px;}
        #contents3 .cont3_img5{top:120px; right:76px;}

        #contents3 .cont3_txt1{top:215px; left:56px;}
        #contents3 .cont3_txt2{top:215px; left:245px;}
        #contents3 .cont3_txt3{top:215px; left:435px;}
        #contents3 .cont3_txt4{top:215px; right:272px;}
        #contents3 .cont3_txt5{top:215px; right:90px;}


#contents4{margin:0 auto; width:1000px; height:334px;}
    #contents4 div{position:relative; font-size:13px; color:#fff;}

    #contents4 div:first-child{float:left; width:481px; height:120px; position:relative;}

#contents4 div .cont4_1{position:absolute; left:15px; top:35px; font-size:18px; color:#fff; font-weight:bold;}
        #contents4 div .cont4_2{position:absolute; left:15px; top:70px; font-size:13px; color:#fff;}
    #contents4 a{color:#fff;}
    #contents4 a:hover{text-decoration:underline;}


/* cont4 hover 효과 */
#contents4 .cont4_1box{position: relative; overflow: hidden;}
.cont4_1box .a3{position: absolute; transition: all 1s;}
.cont4_1box .a4{position: absolute; margin-top: 20px; transition:all 1s;}
.cont4_1box p{transition:all 1s;}

.cont4_1box:hover .a3{transform: translate(-250px);}
.cont4_1box:hover .a4{transform: translate(230px);}
.cont4_1box:hover p{transform: translate(230px);}


    #contents4 div:nth-child(2){float:right; width:481px; height:120px; position:relative;}
        #contents4 div .cont4_3{position:absolute; left:15px; top:35px; font-size:18px; font-weight:bold;}
        #contents4 div .cont4_4{position:absolute; left:15px; top:70px; font-size:13px;}
       
/* cont4 hover 효과*/
#contents4 .cont4_1box{position: relative; overflow: hidden;}
.cont4_1box .a3{position: absolute; transition:all 1s;}
.cont4_1box .a4{position: absolute; margin-top: 20px; transition: all 1s;}
.cont4_1box p{transition:all 1s;}

.cont4_1box:hover .a3{transform: translate(-250px);}
.cont4_1box:hover .a4{transform: translate(230px);}
.cont4_1box:hover p{transform: translate(230px);}



    #contents4 div:nth-child(3){float:left; margin-top:19px; width:308px; height:194px; background:url(../images/cont4_img3-1.png) no-repeat; position: relative; overflow: hidden; cursor: pointer;}
        #contents4 div .cont4_5{position:absolute; left:15px; top:111px; font-size:18px; font-weight:bold;}
        #contents4 div .cont4_6{position:absolute; left:15px; top:148px; font-size:13px;}
#contents4 .a1{margin-top:94px; opacity:0.8; transition: all 0.6s; transform-origin: left bottom;}
#contents4 div:nth-child(3):hover .a1{transform:scale(2,2); opacity: 0.2;}
#contents4 div:nth-child(3):hover p{transform: translate(60px,-50px); text-shadow: 1px 1px 3px rgba(0,0,0,2); font-size: 18px;}
#contents4 .cont4_3box p{transition:all 0.5s;}
    




    #contents4 div:nth-child(4){float:left; margin:19px 37px; width:308px; height:194px; background:url(../images/cont4_img4-1.png) no-repeat; position: relative; overflow: hidden; cursor: pointer;}
        #contents4 div .cont4_7{position:absolute; left:15px; top:111px; font-size:18px; font-weight:bold;}
        #contents4 div .cont4_8{position:absolute; left:15px; top:148px; font-size:13px;}
#contents4 .a1{margin-top:94px; opacity:0.8; transition: all 0.6s; transform-origin: left bottom;}
#contents4 div:nth-child(4):hover .a1{transform:scale(2,2); opacity: 0.2;}
#contents4 div:nth-child(4):hover p{transform: translate(60px,-50px); text-shadow: 1px 1px 3px rgba(0,0,0,2); font-size: 18px;}
#contents4 .cont4_3box p{transition:all 0.5s;}






    #contents4 div:last-child{float:right; margin-top:19px; width:308px; height:194px; background:url(../images/cont4_img5-1.jpg)no-repeat; position: relative; overflow: hidden; cursor:pointer;}
        #contents4 div .cont4_9{position:absolute; left:15px; top:111px; font-size:18px; font-weight:bold;}
        #contents4 div .cont4_10{position:absolute; left:15px; top:148px; font-size:13px;}
#contents4 .a1{margin-top:94px; opacity:0.8; transition: all 0.6s; transform-origin: left bottom;}
#contents4 div:last-child:hover .a1{transform:scale(2,2); opacity: 0.2;}
#contents4 div:last-child:hover p{transform: translate(60px,-50px); text-shadow: 1px 1px 3px rgba(0,0,0,2); font-size:18px;}
#contents4 .cont4_3box p{transition:all 0.5s;}

        


#contents5{margin:60px auto 88px; width:1000px; height:344px; background:#f5f7fa;}
    #contents5 h2{padding-bottom:27px; color:black; background:#fff; box-sizing:border-box; font-size:24px;}
    #contents5 .cont5_inner{width:980px; height:224px; margin:0 auto;}
        #contents5 .cont5{float:left; margin:38px 10px 0; font-size:13px;}
        #contents5 .cont5 span{font-weight:bold; display:block;}
        #contents5 .cont5_1{width:225px; height:137px; background:#999; position: relative;}

.cont5_hover{width: 225px; height: 137px; position: absolute; top: 0; left: 0; background:linear-gradient(rgba(245,45,45,0.3), rgba(245,45,45,0.25)); opacity:0; transition: all 0.8s;}

/* cont5 hover 효과 */
#contents5 .cont5_1:hover .cont5_hover{opacity:1;}
#contents5 .cont5_2:hover .cont5_hover{opacity:1;}
#contents5 .cont5_3:hover .cont5_hover{opacity:1;}
#contents5 .cont5_4:hover .cont5_hover{opacity:1;}


        #contents5 .cont5_2{width:225px; height:137px; background:#999; position: relative;}
        #contents5 .cont5_3{width:225px; height:137px; background:#999; position: relative;}
        #contents5 .cont5_4{width:225px; height:137px; background:#999; position: relative;}
        #contents5 img{margin-bottom:16px;}
        #contents5 a{color:black;}
        #contents5 a:hover{text-decoration:underline;}

#contents6{margin:0 auto 40px; width:1000px; height:350px; background:#fbf2e9; position:relative;}
    #contents6 h2{padding-bottom:27px; color:black; background:#fff; box-sizing:border-box; font-size:24px;}
    #contents6 .cont6_img{position:absolute; top:40px; right:0;}
    #contents6 .cont6_box1{margin:52px; 0 0 80px; width:360px; height:238px;}
    #contents6 .cont6_txt1{width:352px; height:116px; margin-top:25px; font-weight:bold;}
        #contents6 .cont6_txt1 li{font-size:14px;}
        #contents6 .cont6_txt1 li:nth-child(3){color:#fdae74;}
        #contents6 .recu{width:104px; height:28px; color:#f16f45; border:3px solid #fae4d7; background:#f3ebe3; font-size:17px; box-sizing:border-box; padding:2px; margin-top:-40px; text-align:center; line-height:16px; font-weight:bold; transition: all 0.5s;}
        #contents6 a{color:#f16f45;}

#contents6 .recu:hover{transform: scale(1.1);}
#contents6 a:hover{transform: scale(1.1); background:#ff6600; color:white;}




#contents7{margin:1px auto 0; width:1000px; height:164px; position:relative;}
 
     #contents7 .cont7_box1{position:absolute; width:360px; height:99px; top:32px; left:30px;}
        #contents7 .cont7_box1 p:first-child{font-size:20px; font-weight:bold;}
        #contents7 .cont7_box1 p:nth-child(2){color:#f2693d; font-size:36px;}
        #contents7 .cont7_box1 p:last-child{font-size:14px;}
    #contents7 .cont7_box2{position:absolute; width:471px; height:62px; top:32px; right:55px;}
        #contents7 .cont7_box2 p{font-size:20px; font-weight:bold; margin-bottom:18px;}
        #contents7 .cont7_box2 li{float:left; font-size:15px; margin-right:11px; font-weight:bold; line-height:1.7}
        #contents7 .cont7_box2 img{margin-right:5px;}
#contents7 a{color:black;}     


/* cont2 - border effect */

.hhh {display:block;width:auto;color:#333;margin:5px 5px 10px 5px;}
    .hhh .screen {position:relative;overflow:hidden; width: 491px; height: 209px;}
	.hhh .screen img {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
	.hhh .screen .eff {display:block;position:absolute;transition:all .2s;background:#fd9a4b; z-index:2;}
	.hhh .screen .eff1 {top:0;height:5px;width:0;}
	.hhh .screen .eff2 {top:0;right:0;width:5px;height:0;}
	.hhh .screen .eff3 {bottom:0;right:0;height:5px;width:0;}
	.hhh .screen .eff4 {bottom:0;left:0;width:5px;height:0;}
	.hhh:hover .screen .eff1 {width:100%; transition: 0.5s;}
	.hhh:hover .screen .eff2 {height:100%; transition: 0.5s;}
	.hhh:hover .screen .eff3 {width:100%; transition: 0.5s;}
	.hhh:hover .screen .eff4 {height:100%; transition: 0.5s;}
	

/* cont3 - scale effect */
.cont3_img1, .cont3_img2, .cont3_img3, .cont3_img4, .cont3_img5{-webkit-transform: scale(1); -ms-transform: scale(1);  transition: all 0.3s ease-in-out;}
.cont3_img1:hover{transform: scale(1.1);
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1);}

.cont3_img2:hover{transform: scale(1.1);
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1);}


.cont3_img3:hover{transform: scale(1.1);
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1);}


.cont3_img4:hover{transform: scale(1.1);
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1);}


.cont3_img5:hover{transform: scale(1.1);
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1);}

.tempo:hover{}

.top{position:fixed; right:10px; bottom:30px;}

/* scroll top */
/* scroll-status -------------------------------------- */
.scroll-status {background-color: #000;border-top-left-radius: 4px;bottom: 0;color: #fff;display: none;padding: 10px;position: fixed;right: 0;}
.scroll-top {display: none;position: fixed;right: 15px;bottom: 50px;width: 40px;height: 40px;line-height: 35px;color: #ffffff;font-size: 20px;text-align: center;background-color:#f15b23;border-radius: 10px;z-index: 9999;outline: none;cursor: pointer;}

